# Ignore virtual environments
.venv/

# Ignore pycache
__pycache__/
pycache/

# Ignore text documents except certain ones
*.txt
!requirements.txt
!requirements_win.txt
!admin_guide.txt

# Ignore csv files
csv/
*.csv

# Ignore the default export location for export_full
export/

# Ignore logs except for .log itself
*.log
!.log

# Ignore 'temporary' generated images stored locally
/data/*/*.png

# Ignore local VS Code project settings
.vscode/
program.prof
